.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

nav{
  margin-bottom: 16px;
}

nav ul {
  display: flex;
  background-color: blanchedalmond;
  margin-block-start: 0;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li {
  list-style-type: none;
  margin-right: 16px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.superHeroes-wrapper{
 margin-top: 8px 6px;
}

.superHeroes-list{
  margin-top: 8px;
}

.superHeroes-list h4{
  margin: 8px 4px;
}

.stepper-wrapper{
  margin: 12px 8px;
}

.stepper-container{
  width: 650px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
}
.stepper-display{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stepText{
  background-color: #ccc;
  border: 1px solid grey;
  padding: 8px;
  border-radius: 20px;
}
.stepper-line{
  position: absolute;
  width: 574px;
  background-color: #ccc;
  z-index: -2;
  top: 15px;
  right: 26px;
}

.stepper-btn-wrapper{
  margin: 16px 24px;
}

.stepper-btn-wrapper button{
  padding: 6px 10px;
  margin: 6px;
  cursor: pointer;
}

.stepper-line-active{
  background-color: green;
  padding: 4px;
  max-width: 100%;
  overflow: hidden;
}

.stepper-completed{
  background-color: green;
  color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
